@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    font-family: 'Lato', sans-serif;
    background-color: #ebe7e4;
}

h1 {
    font-size: 60px;
}

.logo {
    width: 20%;
    margin-left: 5vw;
}

.header {
    display: flex;
    justify-content: space-between;
}



