
.green {
    color: green;
}

.main-message-heading {
    width: 50vw;
    margin-left: 10vw;
}

.search-button {
    border-color: #000000;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-left: 10vw;
    margin-top: 20px;
    cursor: pointer;
    color: #000000;
}

.search-button:hover {
    background-color: #c8c5c3;
}

.main-page-content {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.main-content-img {
    height: 350px;
}

.test-btn {
    color: #000000;
    background-color: #c8c5c3;
}

